{% load menu_tags %}
{% for child in children %}
<li class="{% if child.selected %}selected{% endif %}{% if child.ancestor %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %}">
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
    {% if menu_pool.get_nodes_by_attribute(nodes, "reverse_id", root_id) %}
    <ul class="sub-menu">
        {% show_menu_below_id child.url|cut:"/" 0 0 100 100 "menu/menu_nosub.html" %}
    </ul>
    {% endif %}
</li>
{% endfor %}
