{% extends "site_base.html" %}
{% block head_title %}Password Reset{% endblock %}

{% block body %}
      <tr> 
        <td width="944" valign="top"><table width="944" border="0" cellspacing="0" cellpadding="0">
            <tr> 
              <td width="940" valign="top"> 
                <table width="944" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td valign="top" class="maintext"><h1>Password Reset</h1></td>
                  </tr>
                  <tr> 
                    <td valign="top" class="maintext">
    {% if user.is_authenticated %}
        <p><span class="warning">Note</span>: you are already logged in as {{ user }}.</p>
    {% endif %}
    <p>Forgotten your password?<br />Enter your e-mail address below, and we'll reset your password and e-mail the new one to you.</p>
                    </td>
                  </tr>
                  <tr> 
                    <td valign="top" class="maintext"><form id="pwd_reset_form" method="post">
                    <table width="280" border="0" cellpadding="0" cellspacing="0">
                        <tr> 
                          <td class="formheader">{{ form.email.errors }}Email</td>
                        </tr>
                        <tr> 
                          <td>{{ form.email }}</td>
                        </tr>
                        <tr> 
                          <td height="40"><table width="250" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="30"><input type="submit" value="Reset my password" /></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                            </table></td>
                        </tr>
                      </table></form>
    <p>If you have any trouble resetting your password, <a href="{% url contact_us %}">contact us</a>.</p>                      </td>
                  </tr>
                </table></td>
            </tr>
          </table></td>
      </tr>
{% endblock %}
