{% extends "site_base.html" %}
{% block head_title %}About Us{% endblock %}
{% block body %}
      <tr> 
        <td width="944" valign="top"><table width="944" border="0" cellspacing="0" cellpadding="0">
            <tr> 
              <td height="50" valign="top" bgcolor="#eae6d4" class="headertitle"><img src="{{ MEDIA_URL }}aboutusimage.jpg" width="620" height="302"></td>
              <td width="324" valign="top" bgcolor="#a6d151"> <table width="280" border="0" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td height="50">&nbsp;</td>
                    <td height="50" class="subheader">Testimonials</td>
                  </tr>
                  <tr> 
                    <td width="20" height="176" rowspan="2">&nbsp;</td>
                    <td width="260" valign="top" class="maintext"> <p class="listmaintext">My employees and I used Alpha Management to complete our ServSafe certification, and I would strongly recommend Alpha to anyone in the food service business. Our instructor presented each concept in terms of real-life situations, then used audio-visual aids, group exercises and short quizzes to cover all the details. The presentation was so organized and upbeat, I was surprised how quickly the time went, and amazed at how much I learned and retained. As soon as the training finished we took our exams right there, and a week later, we're all certified! It couldn't have been easier.</p></td>
                  </tr>
                  <tr> 
                    <td width="260" valign="top" class="subheader">Meena Thomas, Subway Manager</td>
                  </tr>
                </table></td>
            </tr>
            <tr> 
              <td width="620" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td height="70"><strong><img src="{{ MEDIA_URL }}abt.jpg" width="500" height="50"></strong></td>
                  </tr>
                  <tr> 
                    <td valign="top" class="maintext"> <p><span class="mainbold">About 
                        Us</span> </p>
                      <p><span class="maintext">Alpha Management Solution serves 
                        Virginia, Maryland, Delaware, New York, and Pennsylvania 
                        with ServSafe Training, HACCP Analysis, and more for your 
                        restaurant or food service buisness. We serve up success 
                        ... GUARANTEED!</span> <span class="maintext"> Whether 
                        you're an established operation or a new restaurant, you 
                        need to protect your business and your customers from 
                        the threat of foodbourne illness. Alpha Management Solution 
                        is the answer! We provide the following services: </span></p>
                      <p><span class="mainbold">Servsafe Education and Training<br>
                        <br>
                        </span><span class="maintext"> Servsafe begins with a 
                        first-rate trainings program that will equip your employees 
                        to incorporate safe practices in every aspect of your 
                        food service operation. We will train your employees to 
                        recognize and prevent the hazards tht cause food to become 
                        unsafe. We have the latest curriculum from the National 
                        Restaurant Association's program with proven teaching 
                        methods that take the mystery out of the science of safe 
                        food handling while giving an in-depth understanding.</span></p>
                      <p><span class="mainbold">HACCP Programs<br>
                        <br>
                        </span><span class="maintext"> Alpha Management Solution 
                        also offers operational services including Audit Preparation, 
                        Risk Monitoring, and HACCP Programs. We will analyze your 
                        systems, identify Critical Control Points (CCP), and work 
                        with you to develop tight procedures for hazard monitoring, 
                        control, and correction. With HACCP you won't have to 
                        wonder whether you are controlling yoursafety hazards, 
                        you'll know for sure.</span></p></td>
                  </tr>
                </table></td>
              <td width="324" height="115" valign="top" bgcolor="#FFFFFF"><table width="324" border="0" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td height="50"><br> </td>
                    <td height="50" class="testimonial">Why choose us?</td>
                  </tr>
                  <tr> 
                    <td width="20">&nbsp;</td>
                    <td width="302" class="listmaintext"><br> &#8226; 10+ years 
                      experience<br> &#8226; Passing Guarantee<br> &#8226; Lowest 
                      Price Guarantee<br> &#8226; Availalable in every state and 
                      internationally<br> &#8226; Certified ServSafe, NRFSP proctors<br> 
                      &#8226; Offered in 5 languages<br> &#8226; Private Classes 
                      Available<br> &#8226; Online training option<br> &#8226; 
                      Thousands of satisfied customers<br> &#8226; Convenience 
                      and flexibility</td>
                  </tr>
                  <tr> 
                    <td colspan="2"> <p>&nbsp;</p>
                      <div align="center"> 
                        <p><br>
                          <img src="{{ MEDIA_URL }}specials2.gif" width="221" height="114"></p>
                      </div></td>
                  </tr>
                </table></td>
            </tr>
          </table> </td>
      </tr>
{% endblock %}