{% extends "site_base.html" %}
{% block head_title %}ServSafe{% endblock %}
{% block body %}
      <tr> 
        <td width="944" valign="top"><table width="944" border="0" cellspacing="0" cellpadding="0">
            <tr> 
              <td width="940" height="115" valign="top"><table width="944" border="0" cellpadding="0" cellspacing="0">
                  <tr> 
                    <td height="70"><strong><img src="{{ MEDIA_URL }}servsafe.jpg" width="500" height="50"></strong></td>
                  </tr>
                  <tr> 
                    <td valign="top" class="maintext"> 
                   </td>
                  </tr>
                </table> 
                <table width="944" height="300" border="0" cellpadding="0" cellspacing="0">
                  <tr> 
                    <td valign="top" class="maintext"><p><strong>The ServSafe 
                        Food Safety&reg; and ServSafe Alcohol&reg; Programs</strong> 
                        deliver much more than training. They combine critical 
                        information, exclusive tools, and real world resources 
                        to transform knowledge into action. In short, ServSafe 
                        puts the highest standard to work for you every day. </p>
                      <p>ServSafe&reg; delivers high-quality training options 
                        for every manager. From the classroom to online, and in 
                        a variety of languages, this is your food safety training 
                        and certification solution. The ServSafe&reg; Food Protection 
                        Manager Certification is nationally recognized and accredited. 
                        To date, more than 3 million ServSafe&reg; Food Protection 
                        Manager Certifications have been awarded. </p>
                      <p class="mainbold">Why ServSafe Training?</p>
                      <ul>
                        <li>Because you need the highest standard of food safety 
                          training and certification.</li>
                        <li>Because the ServSafe Program has evolved to meet the 
                          most urgent food safety training challenges in our industry.</li>
                        <li>Because ServSafe is a better way to learn. It's more 
                          engaging, for greater comprehension and better application.</li>
                        <li>Because the ServSafe Program has training options 
                          to fit your needs.</li>
                        <li>Because food safety impacts your customers, your employees 
                          and your business. With so much on the line, the right 
                          preparation means everything.</li>
                      </ul>
                      <p class="mainbold">Why ServSafe Certification?</p>
                      <ul>
                        <li>Because the ServSafe Food Protection Manager Certification 
                          is accredited by the American National Standards Institute 
                          (ANSI)-Conference for Food Protection (CFP).</li>
                        <li>Because the ServSafe Food Protection Manager Certification 
                          Exam is valid, reliable and legally defensible.</li>
                        <li>Because it's certification the industry trusts. In 
                          fact, more than 3 million ServSafe Food Protection Manager 
                          certifications have been awarded to date.</li>
                        <li>Because ServSafe Certification meets the needs of 
                          today's diverse industry. Written examination booklets 
                          are offered in English, Spanish, Chinese, Korean, Japanese, 
                          French Canadian and large print. Online exams are offered 
                          in English, Spanish and Chinese.</li>
                      </ul>
                      <p>Participants are trained and tested through the ServSafe 
                        Serving Safe Food Certification Course.</p>
                      <p><strong>Youll learn about:</strong></p>
                      <ul>
                        <li> Potentially hazardous foods and safe food handling 
                          practices</li>
                        <li> The HAACP system of food safety</li>
                        <li> Setting up standards and procedures </li>
                      </ul>
                      <p><strong>Plus youll receive:</strong></p>
                      <ul>
                        <li> A ServSafe Certificate of Completion, upon passing 
                          the required exam</li>
                        <li> Continuing Education Units issued by many associations 
                          and state and local health departments.</li>
                        <li> Handouts</li>
                        <li> Entry into a national certification registry. </li>
                      </ul>
                      <p><strong>Seminar benefits</strong></p>
                      <p>Attending the ServSafe seminars gives you:</p>
                      <ul>
                        <li> Certification through the industrys leading food 
                          safety training program</li>
                        <li> Information youll need to train your managers and 
                          employees in food safety</li>
                        <li> Increased profitability in your operation</li>
                        <li> Educational units toward your Foodservice Management 
                          Professional (FMP) certification </li>
                      </ul></td>
                  </tr>
                </table></td>
            </tr>
          </table> </td>
      </tr>
{% endblock %}