body { margin: 0; }
img { border:0; }
.wrapper { margin: 0 auto; width: 1015px; }
#top_bar_spacer { height: 26px; }
#left_nav_spacer { height: 40px; }
#container { position:relative; }
#container .column { float: left; }
#center { width: 805px; }
#left { width: 155px; }
#center_home { width: 846px; }
#left_home { width: 89px; }
#right { width: 150px; }
.clear { clear: both; }
* html #left { left: 150px; }
* html #left_home { left: 89px; }
.relative { position: relative; }
.textbox { position: absolute; }
#home_phrase { left: 480px; top: 20px; font: bold 26px Times; text-align:right; background-color:#ABCBEB; padding: 10px 15px 10px 15px; border-radius: 15px; }
#remote_title { left: 145px; top: 55px; font: bold 16px Arial; }
#remote_points { left: -6px; top: 140px; font: 12px Arial; }
#remote_points ul { list-style-type:none; }
#remote_available { left: 247px; top: 435px; font: 11px Arial; }
#remote_small_points { left: 420px; top: 360px; font: 12px Arial; }
#mouse_title { left: 145px; top: 55px; font: bold 16px Arial; }
#mouse_points { left: 350px; top: 280px; font: 12px Arial; }
#mouse_points ul { list-style-type:none; }
#mouse_available { left: 70px; top: 403px; font: 11px Arial; }
#mouse_small_points { left: 140px; top: 390px; font: 12px Arial; }
#smartphone_title { left: 145px; top: 55px; font: bold 16px Arial; }
#smartphone_points { left: 180px; top: 85px; font: 12px Arial; }
#smartphone_points ul { list-style-type:none; }
#smartphone_available { left: 133px; top: 430px; font: 11px Arial; }
#smartphone_small_points { left: 430px; top: 435px; font: 12px Arial; }
#about { left: 70px; top: 50px; font: 13px/22px Arial; }
#about_last { left: 100px; top: 330px; font: 13px/22px Arial; }
#contact { left: 50px; top: 30px; font: 13px/22px Arial; width:410px; }
#contact_comment { left: 500px; top: 280px; font: 13px/22px Arial; }
#footer_phrase { left: 200px; top: -15px; font: 16px Times; }
#copy { right: 140px; top: -10px; font: 10px Arial Narrow; }
#human { left:20px; top:290px; }
#human_right { right:0px; top:290px; }
#product { left:680px; top:300px; }
.bigger { font-size:150%; }
.bold { font-weight:bold; }
.first:first-letter { font-size:150%; }
legend { font-weight:bold; }
label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 80px; 
	padding: 0; 
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
	text-align: right; 
}

.value
{
    display: inline-block;
    width: auto;
	margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

form input, form textarea {
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	width:auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

form input#reset {
	margin-left:0px; /* set margin-left back to zero on reset button (set above) */
}
form br {
	clear:left; /* setting clear on inputs didn't work consistently, so brs added for degrade */
}
textarea { overflow: auto; }
form small {
	display: block;
	margin: 0 0 5px 87px; /* instructions/comments left margin set to align w/ right column inputs */
	padding: 1px 3px;
	font-size: 88%;
}
