td {
	font-size: 9px;
	color: #999;
}
p { margin-top: 10px; margin-bottom: 10px;}

.textbox {
	position:relative;
}

.content {
	font-family: Arial;
    font-size: 8pt;
	color: black;
}

.title {
	font-family: "Times New Roman";
	color: green;
	font-size: 24px;
}

.copyright {
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	width: 466px;
	height: 39px;
}