td {
	font-size: 9px;
	color: #999;
}
p { margin-top: 10px; margin-bottom: 10px;}

.textbox {
	position:relative;
}

.content {
	font-family: Arial;
    font-size: 8pt;
	color: black;
}

.title {
	font-family: "Times New Roman";
	color: green;
	font-size: 24px;
}

.copyright {
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	width: 1000px;
	height: 39px;
}
.gallery {
    position: relative;
}

.gallery li {
    display: inline;
    list-style: none;
    width: 240px;
    min-height: 175px;
    float: left;
    margin: 0 10px 10px 0;
    text-align: center;
}