.topnav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.maintext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
	text-align: justify;
	padding-bottom: 14px;
	padding-top: 12px;
}
.bigtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
	line-height: 20px;
	text-align: justify;
	padding-bottom: 14px;
	padding-top: 12px;
}
.phone {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #cc2a00;
	text-decoration: none;
	font-weight: bold;
}
.color {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #faf0e0;
	text-decoration: none;
	text-align: center;
}
A.color:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #faf0e0;
	text-decoration: none;
	text-align: center;
}
A.color:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #faf0e0;
	text-decoration: underline;
	text-align: center;
	}

A.color:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #faf0e0;
	text-decoration: none;
	text-align: center;
}

A.maintext:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
	text-align: justify;
	padding-bottom: 15px;
	padding-top: 10px;
}
A.maintext:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
	text-align: justify;
	padding-bottom: 15px;
	padding-top: 10px;
}
A.maintext:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
	text-align: justify;
	padding-bottom: 15px;
	padding-top: 10px;
}
.tagline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #c7a871;
	text-decoration: none;
	letter-spacing: 1pt;
	text-align: center;




}
.headertitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #60331a;
	text-decoration: none;
	line-height: 60px;
	font-weight: normal;
}
.subheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 40px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 10px;

}
.listmaintext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #2f6b09;
	text-decoration: none;
	padding-left: 5px;
	padding-top: 2px;



}

A.listmaintext:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #2f6b09;
	text-decoration: none;
	padding-left: 5px;
	padding-top: 2px;

}

A.listmaintext:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #1c4700;
	text-decoration: underline;
	padding-left: 5px;
	padding-top: 2px;

}
A.listmaintext:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #2f6b09;
	text-decoration: none;
	padding-left: 5px;
	padding-top: 2px;

}

.formheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #767676;
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 3px;

}
.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	padding-left: 10px;

}

A.legal:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	padding-left: 10px;

}

A.legal:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: underline;
	padding-left: 10px;

}

A.legal:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	padding-left: 10px;

}

.topbar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #c7a871;
	text-decoration: none;
}
.mainbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	text-align: justify;

}
A.mainbold:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	text-align: justify;

}

A.mainbold:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #5da5ac;
	text-decoration: none;
	text-align: justify;

}

A.mainbold:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	text-align: justify;

}

.testimonial {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #35642e;
	text-decoration: none;
}
.colored {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #cc2a00;
	text-decoration: underline;
	font-weight: bold;


}

A.colored:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #cc2a00;
	text-decoration: underline;
	font-weight: bold;


}

A.colored:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #a70000;
	text-decoration: underline;
	font-weight: bold;


}

A.colored:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #cc2a00;
	text-decoration: underline;
	font-weight: bold;


}
