{% load i18n %}
{% load extras %}
    <div id="snap_post{{ post.id }}">

        {% if post.censor %}
            <div class="post_censored">
        {% else %}
            {% ifnotequal post.abuse 0 %}
                <div class="post_reported">
            {% endifnotequal %}
        {% endif %}

        <div id="post_rpc_feedback{{ post.id }}" class="rpc_message">
            <!-- This DIV is for RPC feedback messages for individual posts -->
        </div>
        <p class="post_header">
        </p>
<hr class="firstpost" />

        <div style="display:block" id="snap_post_view{{ post.id }}">
            <div class="post_text" style="display:block" id="snap_post_text{{ post.id }}">
                {{ post.text|safe }}
                {% comment %}
                {{ post.text|striptags|render_post|safe }}
                {% endcomment %}
            </div>
            {% if post.previous %}
            <span id="post_revision_links{{ post.id }}" class="post_menuleft">
                <a href="#snap_post_view{{ post.id }}" onclick="revision('{{ post.id }}','{{ post.previous.id }}');">&#171; {% trans "previous" %}</a>
                <b style="color: #c00">{% trans "This message has been revised" %}</b>
            </span>


            <br />
            {% endif %}
            <br />
        </div>

        {% if post.censor %}
            </div>
        {% else %}
            {% ifnotequal post.abuse 0 %}
                </div>
            {% endifnotequal %}
        {% endif %}
    </div>
    <hr class="postend" />
