td {
	font-size: 9px;
	color: #999;
}
p { margin-top: 10px; margin-bottom: 10px;}

.textbox {
	position:relative;
}

.content {
	font-family: Arial;
    font-size: 8pt;
	color: black;
}

.title {
	font-family: "Times New Roman";
	color: green;
	font-size: 24px;
}

.copyright {
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	width: 1000px;
	height: 39px;
}
.gallery {
    position: relative;
}

.gallery li {
    list-style: none;
    margin: 0 10px 10px 0;
}

.gallery img {
    float: left;
    resize: both;
    height: 175px;
    align: middle;
    padding-right: 20px;
}

.gallery div {
    font-family: Arial;
    font-size: 9pt;
    height: 170px;
/*
    padding-top: 30px;
*/
}

.gallery div span {
    display: block;
}

.gallery .name 
{
	color: #555;
	font-size: 10pt;
	padding-top: 60px;
}