<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
	</configSections>
	<connectionStrings>
		<add
			name="REMap" 
			providerName="System.Data.SqlClient"
			connectionString="server=staging;database=REMap;uid=REMap_User;pwd=sh0wme;" />
	</connectionStrings>
</configuration>