{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    {% blocktrans %}
    	This is the product/price db website for Price & Talk.
    	Click <a href="/product">HERE</a> to view the products and/or prices that the site collected so far.
    {% endblocktrans %}
    
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
    {% endif %}
    
{% endblock %}
