{% extends "site_base.html" %}
{% block head_title %}Privacy Policy{% endblock %}
{% block body %}
      <tr> 
        <td width="944" valign="top"><table width="944" border="0" cellspacing="0" cellpadding="0">
            <tr> 
              <td width="940" height="115" valign="top"><table width="944" border="0" cellpadding="0" cellspacing="0">
                  <tr> 
                    <td height="70"><strong><img src="{{ MEDIA_URL }}pp.jpg" width="500" height="50"></strong></td>
                  </tr>
                  <tr> 
      <td valign="top" class="maintext"><strong>Alpha Management Solution</strong> 
        respects your privacy. We have created this privacy policy so that you 
        are aware of our commitment to maintaining your trust. 
        <p> <span class="mainbold"><strong>General Users</strong></span><br>
          <br>
          If you are just browsing the Alpha Management Soution website, the only 
          information we collect about you is done in a way that preserves your 
          anonymity. We may log the IP address and domain name used in connecting 
          to the site, to track a user's session, for systems administration purposes 
          only. We collect this information in order to assess which parts of 
          our site users are visiting. We do not link IP addresses or domain names 
          to anything personally identifiable. This means that a user's session 
          will be tracked, but the user will be anonymous.</p>
        <p class="mainbold"> Registration Information</p>
        <p>When you register for the training course, Alpha Management Soution 
          website will collect your registration information in order to process 
          your request for class enrollment. We will never share or sell your 
          private information. </p>
        <p class="mainbold"> When you submit a question, comment or request</p>
        <p>We use the information you provide through our &quot;Contact Us&quot; 
          web form strictly to communicate with you and respond to your request. 
          Alpha Management Soution does not sell the information it collects from 
          you on its website. </p>
        <p class="mainbold"> Links to Other Sites</p>
        <p>This Alpha Management Soution website contains links to other sites, 
          such as our sponsors. While Alpha Management Soution expects the operators 
          of such sites to handle your personal information in a manner that respects 
          your privacy, Alpha Management Soution is not responsible for the privacy 
          practices or the content of such Web sites. </p>
        <p class="mainbold"> Privacy Statement Modification</p>
        <p>Alpha Management Soution reserves the right to modify this Privacy 
          Statement at any time without notice. Any changes to the policy will 
          be posted on this page. </p>
        <p><br>
          Your continued use of this Web site will be deemed conclusive acceptance 
          of our privacy policy and of any posted modifications. If you have any 
          questions about our privacy policy, please contact us at <a href="mailto:Alpha%20Management%20Solution%20respects%20your%20privacy.%20%20We%20have%20created%20this%20privacy%20policy%20so%20that%20you%20are%20aware%20of%20our%20commitment%20to%20maintaining%20your%20trust.%20" class="maintext">customerservice@amsolutionusa.com.</a> 
        </p></td>
                  </tr>
                  <tr> 
                    <td valign="top" class="maintext"> </td>
                  </tr>
                </table> 
              </td>
                  </tr>
                </table></td>
            </tr>
{% endblock %}