{% extends "site_base.html" %}
{% block head_title %}Product{% endblock %}
{% block body %}
      <tr> 
        <td width="944" valign="top"><table width="944" border="0" cellspacing="0" cellpadding="0">
            <tr> 
              <td width="940" valign="top"> 
                <table width="944" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td valign="top" class="mainbold">ServSafe Manager Training and Exam/Test</td>
                  </tr>
                  <tr> 
                    <td valign="top" class="maintext">product description</td>
                  </tr>
                  <tr> 
                    <td valign="top" class="maintext">
                    <table width="280" border="0" cellpadding="0" cellspacing="0">
                        <tr> 
                          <td class="formheader">Venue</td>
                        </tr>
                        <tr> 
                          <td>Courtyard marriot, 6710 Commerce Street, Springfield, VA 22150</td>
                        </tr>
                        <tr> 
                          <td class="formheader">Time</td>
                        </tr>
                        <tr> 
                          <td>Sat. July 10th, 2010 8:30 am - 5:30 pm</td>
                        </tr>
                        <tr> 
                          <td class="formheader">Price</td>
                        </tr>
                        <tr> 
                          <td>$199.00</td>
                        </tr>
                        <tr> 
                          <td><a href="http://secure.ultracart.com/cgi-bin/UCEditor?merchantId=AMSLL&ADD=1001">Add to Cart</a></td>
                        </tr>
                      </table></td>
                  </tr>
                </table></td>
            </tr>
          </table></td>
      </tr>
{% endblock %}