<!DOCTYPE cruisecontrol [
	<!ENTITY url "http://ac03amawsgbld1/ccnet/default.aspx?_action_ViewProjectReport=true&amp;server=local&amp;project=">
	<!ENTITY nant "C:\Program Files\NAnt\bin\nant.exe">
	<!ENTITY base "D:\AllianceCapital\Wsg\Common">
	<!ENTITY build "CcnetBootstrap.build">
]>
<cruisecontrol>
	<project name="Aws">
		<webURL>&url;Aws</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws -D:build.file.name=Aws.build</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\Aws.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<resetRevision>true</resetRevision>
		</labeller>
	</project>
	<project name="AwsRevision">
		<webURL>&url;AwsRevision</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws -D:build.file.name=Aws.build -D:revise=true</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\Aws.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<incrementBuild>false</incrementBuild>
			<incrementRevision>true</incrementRevision>
		</labeller>
	</project>
	<project name="A3W3">
		<webURL>&url;A3W3</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest1 -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/eRequest1 -D:build.file.name=eRequest1.build -D:current.project=A3W3</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest1\eRequest1.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.A3W3.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<resetRevision>true</resetRevision>
		</labeller>
	</project>
	<project name="A3W3Revision">
		<webURL>&url;A3W3Revision</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest1 -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/eRequest1 -D:build.file.name=eRequest1.build -D:current.project=A3W3 -D:revise=true</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest1\eRequest1.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.A3W3.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<incrementBuild>false</incrementBuild>
			<incrementRevision>true</incrementRevision>
		</labeller>
	</project>
	<project name="MarketOpening">
		<webURL>&url;MarketOpening</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\AccountCenter -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/AccountCenter -D:build.file.name=AccountCenter.build -D:current.project=MarketOpening</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\AccountCenter\AccountCenter.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.MarketOpening.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<resetRevision>true</resetRevision>
		</labeller>
	</project>
	<project name="MarketOpeningRevision">
		<webURL>&url;MarketOpeningRevision</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\AccountCenter -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/AccountCenter -D:build.file.name=AccountCenter.build -D:current.project=MarketOpening -D:revise=true</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\AccountCenter\AccountCenter.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.MarketOpening.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<incrementBuild>false</incrementBuild>
			<incrementRevision>true</incrementRevision>
		</labeller>
	</project>
	<project name="Suds">
		<webURL>&url;Suds</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest1 -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/eRequest1 -D:build.file.name=eRequest1.build -D:current.project=Suds</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest1\eRequest1.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.Suds.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<resetRevision>true</resetRevision>
		</labeller>
	</project>
	<project name="SudsRevision">
		<webURL>&url;SudsRevision</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest1 -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/eRequest1 -D:build.file.name=eRequest1.build -D:current.project=Suds -D:revise=true</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest1\eRequest1.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.Suds.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<incrementBuild>false</incrementBuild>
			<incrementRevision>true</incrementRevision>
		</labeller>
	</project>
	<project name="CdaLibrary">
		<webURL>&url;CdaLibrary</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\Cda\CdaModalSite -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Cda/CdaModalSite -D:build.file.name=CdaModalSite.build</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\Cda\CdaModalSite\CdaModalSite.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<resetRevision>true</resetRevision>
		</labeller>
	</project>
	<project name="CdaLibraryRevision">
		<webURL>&url;CdaLibraryRevision</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\Cda\CdaModalSite -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Cda/CdaModalSite -D:build.file.name=CdaModalSite.build -D:revise=true</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\Cda\CdaModalSite\CdaModalSite.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<incrementBuild>false</incrementBuild>
			<incrementRevision>true</incrementRevision>
		</labeller>
	</project>
	<project name="PMGTrading">
		<webURL>&url;PMGTrading</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\PMGOperations -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/PMGOperations -D:build.file.name=PMGOperations.build -D:current.project=PMGTrading</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\PMGOperations\PMGOperations.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.PMGTrading.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<resetRevision>true</resetRevision>
		</labeller>
	</project>
	<project name="PMGTradingRevision">
		<webURL>&url;PMGTradingRevision</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\PMGOperations -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/PMGOperations -D:build.file.name=PMGOperations.build -D:current.project=PMGTrading -D:revise=true</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\PMGOperations\PMGOperations.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.PMGTrading.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<incrementBuild>false</incrementBuild>
			<incrementRevision>true</incrementRevision>
		</labeller>
	</project>
	<project name="ApplicationSoftware">
		<webURL>&url;ApplicationSoftware</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest2 -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/eRequest2 -D:build.file.name=eRequest2.build -D:current.project=ApplicationSoftware</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest2\eRequest2.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.ApplicationSoftware.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<resetRevision>true</resetRevision>
		</labeller>
	</project>
	<project name="ApplicationSoftwareRevision">
		<webURL>&url;ApplicationSoftwareRevision</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest2 -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/eRequest2 -D:build.file.name=eRequest2.build -D:current.project=ApplicationSoftware -D:revise=true</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest2\eRequest2.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.ApplicationSoftware.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<incrementBuild>false</incrementBuild>
			<incrementRevision>true</incrementRevision>
		</labeller>
	</project>
	<project name="Composite">
		<webURL>&url;Composite</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest2 -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/eRequest2 -D:build.file.name=eRequest2.build -D:current.project=Composite</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest2\eRequest2.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.Composite.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<resetRevision>true</resetRevision>
		</labeller>
	</project>
	<project name="CompositeRevision">
		<webURL>&url;CompositeRevision</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest2 -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/eRequest2 -D:build.file.name=eRequest2.build -D:current.project=Composite -D:revise=true</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest2\eRequest2.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.Composite.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<incrementBuild>false</incrementBuild>
			<incrementRevision>true</incrementRevision>
		</labeller>
	</project>
	<project name="PropertyRemoval">
		<webURL>&url;PropertyRemoval</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest2 -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/eRequest2 -D:build.file.name=eRequest2.build -D:current.project=PropertyRemoval</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest2\eRequest2.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.PropertyRemoval.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<resetRevision>true</resetRevision>
		</labeller>
	</project>
	<project name="PropertyRemovalRevision">
		<webURL>&url;PropertyRemovalRevision</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest2 -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/eRequest2 -D:build.file.name=eRequest2.build -D:current.project=PropertyRemoval -D:revise=true</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\eRequest2\eRequest2.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.PropertyRemoval.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<incrementBuild>false</incrementBuild>
			<incrementRevision>true</incrementRevision>
		</labeller>
	</project>
	<project name="ChangeControl">
		<webURL>&url;ChangeControl</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\ChangeControl -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/ChangeControl -D:build.file.name=ChangeControl.build -D:current.project=ChangeControl</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\ChangeControl\ChangeControl.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.ChangeControl.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<resetRevision>true</resetRevision>
		</labeller>
	</project>
	<project name="ChangeControlRevision">
		<webURL>&url;ChangeControlRevision</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\ChangeControl -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/ChangeControl -D:build.file.name=ChangeControl.build -D:current.project=ChangeControl -D:revise=true</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\ChangeControl\ChangeControl.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.ChangeControl.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<incrementBuild>false</incrementBuild>
			<incrementRevision>true</incrementRevision>
		</labeller>
	</project>
	<project name="AwsBTComponent">
		<webURL>&url;AwsBTComponent</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\AwsBTComponent -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/AwsBTComponent -D:build.file.name=AwsBTComponent.build -D:current.project=AwsOrchestrationHelper</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\AwsBTComponent\AwsBTComponent.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.AwsOrchestrationHelper.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<resetRevision>true</resetRevision>
		</labeller>
	</project>
	<project name="AwsBTComponentRevision">
		<webURL>&url;AwsBTComponentRevision</webURL>
		<triggers />
		<tasks>
			<nant>
				<executable>&nant;</executable>
				<baseDirectory>&base;</baseDirectory>
				<buildArgs>-D:solution.basedir=D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\AwsBTComponent -D:sourcesafe.solution.basedir=$/AllianceCapital/Wsg/Common/Aws/AwsBizTalk/AwsBTComponent -D:build.file.name=AwsBTComponent.build -D:current.project=AwsOrchestrationHelper -D:revise=true</buildArgs>
				<buildFile>&build;</buildFile>
				<targetList>
					<target>go</target>
				</targetList>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</nant>
		</tasks>
		<labeller type="buildRevisionLabeller">
			<incrementOnFailure>false</incrementOnFailure>
			<versionFilePath>D:\AllianceCapital\Wsg\Common\AWS\AwsBizTalk\AwsBTComponent\AwsBTComponent.build</versionFilePath>
			<versionXPath>/project/property[@name='solution.AwsOrchestrationHelper.old.version']/@value</versionXPath>
			<prefix>v</prefix>
			<incrementBuild>false</incrementBuild>
			<incrementRevision>true</incrementRevision>
		</labeller>
	</project>
</cruisecontrol>